.nav-bar {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right
}

.nav-bar-link {
  margin-left: .75rem;
  color: rgba(0, 119, 204, 0.5);
}
